@import "@/styles/mixins";
@import "@/styles/global";

.NewsPage{
  &__list{
    @include fullWidthSection;
    @include sectionGrid;
    gap: 24px;
  }

  &__list > &__item{
    grid-column: span 3;
    @include maxWidth($max-1440) {
      grid-column: span 4;
    }
    @include maxWidth($max-768) {
      grid-column: span 6;
    }
    @include maxWidth($max-320) {
      grid-column: span 4;
    }
  }

  &__list > &__item:first-of-type{
    grid-column: span 6;
    @include maxWidth($max-1440) {
      grid-column: span 8;
    }
    @include maxWidth($max-768) {
      grid-column: span 6;
    }
    @include maxWidth($max-320) {
      grid-column: span 4;
    }
  }
}
