@font-face {
  font-style: normal;
  font-weight: 300;
  src:
    url('../assets/fonts/ALS_Sector-Regular.woff') format('woff'),
    url('../assets/fonts/ALS_Sector-Regular.woff2') format('woff2'),
    url('../assets/fonts/ALS_Sector-Regular.otf') format('opentype');
  font-family: 'ALS Sector';
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    url('../assets/fonts/ALS_Sector-Regular.woff') format('woff'),
    url('../assets/fonts/ALS_Sector-Regular.woff2') format('woff2'),
    url('../assets/fonts/ALS_Sector-Regular.otf') format('opentype');
  font-family: 'ALS Sector';
}

@font-face {
  font-style: normal;
  font-weight: 500;
  src:
    url('../assets/fonts/ALS_Sector-Regular.woff') format('woff'),
    url('../assets/fonts/ALS_Sector-Regular.woff2') format('woff2'),
    url('../assets/fonts/ALS_Sector-Regular.otf') format('opentype');
  font-family: 'ALS Sector';
}

@font-face {
  font-style: normal;
  font-weight: 600;
  src:
    url('../assets/fonts/ALS_Sector-Bold.woff') format('woff'),
    url('../assets/fonts/ALS_Sector-Bold.woff2') format('woff2'),
    url('../assets/fonts/ALS_Sector-Bold.otf') format('opentype');
  font-family: 'ALS Sector';
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    url('../assets/fonts/ALS_Sector-Bold.woff') format('woff'),
    url('../assets/fonts/ALS_Sector-Bold.woff2') format('woff2'),
    url('../assets/fonts/ALS_Sector-Bold.otf') format('opentype');
  font-family: 'ALS Sector';
}
