input[type='text'] {
  border-radius: 15px;
  border: 1px solid #000;
  width: 300px;
  padding: 0px 10px 0px 10px;
}

input[type='text']::placeholder{
  font-size: var(--font-size-1);
  text-align: center;
  padding: 0 10px 0px 10px;
}