button{
  max-width: 100px;
  width: 100%;
  border: 2px solid #000000;
  padding: 8px 12px;
  font-size: 13px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.46000000834465027px;
  text-align: left;
  border-radius: 10px;
}